# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/processed/
data/archive/

# Airflow
airflow/logs/
airflow/airflow.db

# Jupyter
.ipynb_checkpoints/