# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/processed/
data/archive/
data/raw/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/**/__pycache__/
airflow/**/*.pyc

# Airflow credentials
airflow/config/simple_auth_manager_passwords.json

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Test
.pytest_cache/
.coverage
htmlcov/